<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from spacingtech.com/html/electon/electon/collection.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 22 Feb 2025 11:10:21 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta name="description"
        content="A best stylish, creative, modern responsive template for different eCommerce business or industries." />
    <meta name="keywords"
        content="food template, bakery products, html, eCommerce html template,plants, organic food, restaurant, live tree, responsive, pizza, burger, furniture, mobile, watches, electronics, computers accessories, toys, jewellery, restaurant accessories" />
    <meta name="author" content="spacingtech_webify">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>Electon - The Electronics eCommerce Bootstrap Template</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon/favicon.png">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
    <!-- magnific-popup css -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" type="text/css" href="css/all.min.css">
    <!--fether css -->
    <link rel="stylesheet" type="text/css" href="css/feather.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <!-- owl-carousel css -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <!-- collection css -->
    <link rel="stylesheet" type="text/css" href="css/collection.css">
    <!-- blog css -->
    <link rel="stylesheet" type="text/css" href="css/blog.css">
    <!-- other-pages css -->
    <link rel="stylesheet" type="text/css" href="css/other-pages.css">
    <!-- product-page css -->
    <link rel="stylesheet" type="text/css" href="css/product-page.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <!-- notification-bar start -->

    <!-- notification-bar end -->
    <!-- header start -->
    {{>header}}
    <!-- header end -->
    <!-- main section start-->
    <main>
        <!-- breadcrumb start -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="col">
                    <div class="row">
                        <div class="breadcrumb-index">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-ul">
                                <li class="breadcrumb-li">
                                    <a class="breadcrumb-link" href="/">Home</a>
                                </li>
                                <li class="breadcrumb-li">
                                    <span class="breadcrumb-text">Collection left</span>
                                </li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <!-- collection start -->
        <section class="main-content-wrap bg-color shop-page section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="pro-grli-wrapper left-side-wrap">
                            <div class="pro-grli-wrap product-grid">
                                <div class="collection-img-wrap">
                                    <h6 data-animate="animate__fadeInUp" class="st-title">Collection left (23)</h6>
                                    <!-- collection info start -->
                                    <div class="collection-info">
                                        <div class="collection-image" data-animate="animate__fadeInUp">
                                            <img src="img/banner/sall-banner.jpg" class="img-fluid" alt="sall-banner">
                                        </div>
                                    </div>
                                    <!-- collection info end -->
                                </div>
                                <!-- shop-top-bar start -->
                                <div class="shop-top-bar wow">
                                    <div class="product-filter without-sidebar">
                                        <button class="filter-button" type="button"><i
                                                class="fa-solid fa-filter"></i><span>Filter</span></button>
                                    </div>
                                    <div class="product-view-mode">
                                        <!-- shop-item-filter-list start -->
                                        <a href="javascript:void(0)" class="list-change-view grid-three active"
                                            data-grid-view="3"><i class="fa-solid fa-border-all"></i></a>
                                        <a href="javascript:void(0)" data-grid-view="1"
                                            class="list-change-view list-one"><i class="fa-solid fa-list"></i></a>
                                        <!-- shop-item-filter-list end -->
                                    </div>
                                    <!-- product-short start -->
                                    <div class="product-short">
                                        <label for="SortBy">Sort by:</label>
                                        <select class="nice-select" name="sortby" id="SortBy">
                                            <option value="manual">Featured</option>
                                            <option value="best-selling">Best Selling</option>
                                            <option value="title-ascending">Alphabetically, A-Z</option>
                                            <option value="title-descending">Alphabetically, Z-A</option>
                                            <option value="price-ascending">Price, low to high</option>
                                            <option value="price-descending">Price, high to low</option>
                                            <option value="created-descending">Date, new to old</option>
                                            <option value="created-ascending">Date, old to new</option>
                                        </select>
                                        <a href="javascript:void(0)" class="short-title">
                                            <span class="sort-title">Best Selling</span>
                                            <span class="sort-icon"><i class="bi bi-chevron-down"></i></span>
                                        </a>
                                        <a href="javascript:void(0)" class="short-title short-title-lg">
                                            <span class="sort-title">Best Selling</span>
                                            <span class="sort-icon"><i class="bi bi-chevron-down"></i></span>
                                        </a>
                                        <ul class="pro-ul collapse">
                                            <li class="pro-li"><a href="javascript:void(0)">Featured</a></li>
                                            <li class="pro-li selected"><a href="javascript:void(0)">Best Selling</a>
                                            </li>
                                            <li class="pro-li"><a href="javascript:void(0)">Alphabetically, A-Z</a></li>
                                            <li class="pro-li"><a href="javascript:void(0)">Alphabetically, Z-A</a></li>
                                            <li class="pro-li"><a href="javascript:void(0)">Price, low to high</a></li>
                                            <li class="pro-li"><a href="javascript:void(0)">Price, high to low</a></li>
                                            <li class="pro-li"><a href="javascript:void(0)">Date, new to old</a></li>
                                            <li class="pro-li"><a href="javascript:void(0)">Date, old to new</a></li>
                                        </ul>
                                    </div>
                                    <!-- product-short end -->
                                </div>
                                <!-- shop-top-bar end -->
                                <!-- Latest-product start -->
                                <div class="special-product grid-3">
                                    <div class="collection-category">
                                        <div class="row">
                                            <div class="col">
                                                <div class="collection-wrap">
                                                    <ul class="product-view-ul">
                                                        {{#each products}}
                                                        <li class="pro-item-li" data-animate="animate__fadeInUp">
                                                            <div class="single-product-wrap">
                                                                <div class="product-image banner-hover">
                                                                    <a href="product-template" class="pro-img">
                                                                        <img src="{{display}}" class=""
                                                                            style="height: 35vh; width: 100%;" alt="p1">
                                                                        {{!-- <img src="img/product/home1-pro-2.jpg"
                                                                            class="img-fluid img2 mobile-img2" alt="p2">
                                                                        --}}
                                                                    </a>
                                                                    <div class="product-action">
                                                                        <a href="#quickview" class="quickview"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#quickview">
                                                                            <span class="tooltip-text">Quickview</span>
                                                                            <span class="pro-action-icon"><i
                                                                                    class="feather-eye"></i></span>
                                                                        </a>
                                                                        <a href="/cart/{{sku}}" class="add-to-cart"
                                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                                            data-bs-target="#add-to-cart">
                                                                            <span class="tooltip-text">Add to
                                                                                cart</span>
                                                                            <span class="pro-action-icon"><i
                                                                                    class="feather-shopping-bag"></i></span>
                                                                        </a>
                                                                        <a href="/wishlist/{{id}}" class="wishlist">
                                                                            <span class="tooltip-text">Wishlist</span>
                                                                            <span class="pro-action-icon"><i
                                                                                    class="feather-heart"></i></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-caption">
                                                                    <div class="product-content">
                                                                        <div class="product-sub-title">
                                                                            <span>{{subtitle}}</span>
                                                                        </div>
                                                                        <div class="product-title">
                                                                            <h6><a
                                                                                    href="cart-add/{{_id}}">{{title}}</a>
                                                                            </h6>
                                                                        </div>
                                                                        <div class="product-price">
                                                                            <div class="pro-price-box">
                                                                                <span class="price">₦{{price}}</span>

                                                                            </div>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <p>Lorem Ipsum is simply dummy text of the
                                                                                printing and typesetting industry. Lorem
                                                                                Ipsum has been the industry's standard
                                                                                dummy text ever since the 1500s.</p>
                                                                        </div>

                                                                    </div>
                                                                    <div class="pro-label-retting">
                                                                        <div class="product-ratting">
                                                                            <span class="pro-ratting">
                                                                                <i class="fa-solid fa-star"></i>
                                                                                <i class="fa-solid fa-star"></i>
                                                                                <i class="fa-solid fa-star"></i>
                                                                                <i class="fa-solid fa-star"></i>
                                                                                <i class="fa-solid fa-star"></i>
                                                                            </span>
                                                                        </div>
                                                                        {{#if discount}}
                                                                        <div class="product-label pro-new-sale">
                                                                            <span
                                                                                class="product-label-title">Sale<span>{{discount}}</span></span>
                                                                        </div>
                                                                        {{/if}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        {{/each}}

                                                    </ul>
                                                </div>
                                                <div class="paginatoin-area">
                                                    <ul class="pagination-page-box" data-animate="animate__fadeInUp">
                                                        <li class="number active"><a href="javascript:void(0)"
                                                                class="theme-glink">1</a></li>
                                                        <li class="number"><a href="javascript:void(0)"
                                                                class="gradient-text">2</a></li>
                                                        <li class="page-next"><a href="javascript:void(0)"
                                                                class="theme-glink"><i
                                                                    class="fa -solid fa-angle-right"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Latest-product end -->
                            </div>
                            <div class="pro-grli-wrap product-sidebar">
                                <div class="pro-grid-block">
                                    <div class="shop-sidebar-inner">
                                        <div class="shop-sidebar-wrap filter-sidebar">
                                            <!-- button start -->
                                            <button class="close-sidebar" type="button">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                            <!-- button end -->
                                            <!-- filter-form start -->
                                            <div class="facets">
                                                <form class="facets-form">
                                                    <div class="facets-wrapper">
                                                        <!-- Product-Categories start -->
                                                        <div class="shop-sidebar">
                                                            <h6 class="shop-title" data-animate="animate__fadeInUp">
                                                                Categories</h6>
                                                            <a href="#collapse-5" data-bs-toggle="collapse"
                                                                class="shop-title shop-title-lg"
                                                                data-animate="animate__fadeInUp">Categories<i
                                                                    class="fa fa-angle-down"></i></a>
                                                            <div class="collapse show shop-element" id="collapse-5">
                                                                <ul class="brand-ul scrollbar">
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label">
                                                                            <input type="checkbox"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Bluetooth</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label">
                                                                            <input type="checkbox"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Earphones</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 64gb">
                                                                            <input type="checkbox" value="64gb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Headphones</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 500gb">
                                                                            <input type="checkbox" value="500gb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Collection</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 1tb">
                                                                            <input type="checkbox" value="1tb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Collection
                                                                                left</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 2tb">
                                                                            <input type="checkbox" value="2tb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Collection
                                                                                list</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 3tb">
                                                                            <input type="checkbox" value="3tb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Collection list
                                                                                left</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 3tb">
                                                                            <input type="checkbox" value="3tb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Collection
                                                                                right</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 3tb">
                                                                            <input type="checkbox" value="3tb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Speaker</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 3tb">
                                                                            <input type="checkbox" value="3tb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">360 cemera</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 3tb">
                                                                            <input type="checkbox" value="3tb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">DVD player</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="cat-checkbox"
                                                                        data-animate="animate__fadeInUp">
                                                                        <label class="checkbox-label 3tb">
                                                                            <input type="checkbox" value="3tb"
                                                                                class="cust-checkbox">
                                                                            <span class="check-name">Air
                                                                                conditioner</span>
                                                                            <span class="count-check">(12)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- Product-Categories end -->
                                                        <div class="shop-sidebar sidebar-filter">
                                                            <h6 class="shop-title" data-animate="animate__fadeInUp">
                                                                Filter</h6>
                                                            <a href="javascript:void(0)"
                                                                class="shop-title shop-title-lg"
                                                                data-animate="animate__fadeInUp">Filter</a>
                                                            <div class="filter-info" data-animate="animate__fadeInUp">
                                                                <span class="filter-count-text">23 products</span>
                                                                <span class="loading-spinner"><svg aria-hidden="true"
                                                                        focusable="false" role="presentation"
                                                                        class="spinner" viewBox="0 0 66 66"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <circle class="path" fill="none"
                                                                            stroke-width="6" cx="33" cy="33" r="30">
                                                                        </circle>
                                                                    </svg></span>
                                                            </div>
                                                        </div>
                                                        <div class="shop-sidebar sidebar-price">
                                                            <h6 class="shop-title" data-animate="animate__fadeInUp">
                                                                Price</h6>
                                                            <a href="#collapse-3" data-bs-toggle="collapse"
                                                                class="shop-title shop-title-lg"
                                                                data-animate="animate__fadeInUp">Price</a>
                                                            <div class="filter-info" data-animate="animate__fadeInUp">
                                                                <span class="shop-price">The highest price is
                                                                    $89.00</span>
                                                                <facet-remove><a href="collection.html"
                                                                        class="reset-text">Reset</a></facet-remove>
                                                            </div>
                                                            <!-- Product-price start -->
                                                            <div class="collapse price-wrap" id="collapse-3">
                                                                <price-range class="price-range">
                                                                    <div class="price-range-group group-range">
                                                                        <input type="range" class="range" min="0"
                                                                            max="89" value="0" id="range1">
                                                                        <input type="range" class="range" min="0"
                                                                            max="89" value="89" id="range2">
                                                                    </div>
                                                                    <div class="price-input-group group-input"
                                                                        data-animate="animate__fadeInUp">
                                                                        <div class="price-range-input input-price">
                                                                            <label class="label-text">From</label>
                                                                            <span class="price-value">$</span>
                                                                            <span id="demo1"
                                                                                class="price-field">0</span>
                                                                        </div>
                                                                        <span class="price-range-delimeter">-</span>
                                                                        <div class="price-range-input input-price">
                                                                            <label class="label-text">To</label>
                                                                            <span class="price-value">$</span>
                                                                            <span id="demo2"
                                                                                class="price-field">89</span>
                                                                        </div>
                                                                    </div>
                                                                </price-range>
                                                            </div>
                                                            <!-- Product-price end -->
                                                            <!-- More-filters start -->
                                                            <div class="shop-sidebar sidebar-open">
                                                                <h6 class="shop-title" data-animate="animate__fadeInUp">
                                                                    More filters</h6>
                                                                <a href="#collapse-6" data-bs-toggle="collapse"
                                                                    class="shop-title shop-title-lg"
                                                                    data-animate="animate__fadeInUp">More filters<i
                                                                        class="fa fa-angle-down"></i></a>
                                                                <div class="filter-info"
                                                                    data-animate="animate__fadeInUp">
                                                                    <span class="shop-price">0 selected</span>
                                                                    <facet-remove>
                                                                        <a href="collection-list-right.html"
                                                                            class="reset-text">Reset</a>
                                                                    </facet-remove>
                                                                </div>
                                                                <div class="collapse shop-element shop-flavor"
                                                                    id="collapse-6">
                                                                    <ul class="brand-ul scrollbar">
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 16gb">
                                                                                <input type="checkbox" value="16gb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Air
                                                                                    conditioner</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 32gb">
                                                                                <input type="checkbox" value="32gb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Portable
                                                                                    speaker</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 64gb">
                                                                                <input type="checkbox" value="64gb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Wireless
                                                                                    earbuds</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 500gb">
                                                                                <input type="checkbox" value="500gb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Ev charging
                                                                                    plug</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 1tb">
                                                                                <input type="checkbox" value="1tb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">DVD player
                                                                                    slot</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 2tb">
                                                                                <input type="checkbox" value="2tb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Verse
                                                                                    earphones</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 3tb">
                                                                                <input type="checkbox" value="3tb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Video shoot
                                                                                    drone</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 3tb">
                                                                                <input type="checkbox" value="3tb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Collection
                                                                                    right</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 3tb">
                                                                                <input type="checkbox" value="3tb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Wifro wi-fi
                                                                                    camera</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 3tb">
                                                                                <input type="checkbox" value="3tb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Movie projector
                                                                                    S8</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 3tb">
                                                                                <input type="checkbox" value="3tb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Wireless
                                                                                    headphones</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li class="cat-checkbox"
                                                                            data-animate="animate__fadeInUp">
                                                                            <label class="checkbox-label 3tb">
                                                                                <input type="checkbox" value="3tb"
                                                                                    class="cust-checkbox">
                                                                                <span class="check-name">Stylish for
                                                                                    trimmer</span>
                                                                                <span class="count-check">(12)</span>
                                                                                <span class="cust-check"></span>
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- More-filters end -->
                                                        </div>
                                                        <div class="shop-sidebar sidebar-product">
                                                            <h6 class="shop-title" data-animate="animate__fadeInUp">
                                                                Product type</h6>
                                                            <a href="#collapse-2" data-bs-toggle="collapse"
                                                                class="shop-title shop-title-lg"
                                                                data-animate="animate__fadeInUp">Product type</a>
                                                            <div class="filter-info" data-animate="animate__fadeInUp">
                                                                <span class="shop-price no-js-hidden">0 selected</span>
                                                                <facet-remove>
                                                                    <a href="collection.html"
                                                                        class="reset-text">Reset</a>
                                                                </facet-remove>
                                                            </div>
                                                            <div class="collapse filter-element" id="collapse-2"
                                                                data-animate="animate__fadeInUp">
                                                                <ul class="brand-ul scrollbar">
                                                                    <li class="brand-li">
                                                                        <label class="cust-checkbox-label">
                                                                            <input type="checkbox" name="cust-checkbox"
                                                                                class="cust-checkbox">
                                                                            <span class="filter-name">Electon</span>
                                                                            <span class="count-check">(23)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="shop-sidebar sidebar-wedget">
                                                            <h6 class="shop-title" data-animate="animate__fadeInUp">
                                                                Availability</h6>
                                                            <a href="#collapse-1" class="shop-title shop-title-lg"
                                                                data-bs-toggle="collapse"
                                                                data-animate="animate__fadeInUp">Availability</a>
                                                            <div class="filter-info" data-animate="animate__fadeInUp">
                                                                <span class="shop-price no-js-hidden">0 selected</span>
                                                                <facet-remove>
                                                                    <a href="collection.html"
                                                                        class="reset-text">Reset</a>
                                                                </facet-remove>
                                                            </div>
                                                            <div class="collapse filter-element" id="collapse-1"
                                                                data-animate="animate__fadeInUp">
                                                                <ul class="brnad-ul scrollbar">
                                                                    <li class="availability">
                                                                        <label
                                                                            class="cust-checkbox-label availability in-stock">
                                                                            <input type="checkbox"
                                                                                name="filter.v.availability" value="1"
                                                                                class="cust-checkbox">
                                                                            <span class="filter-name">In stock</span>
                                                                            <span class="count-check">(23)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                    <li class="availability">
                                                                        <label
                                                                            class="cust-checkbox-label availability in-stock">
                                                                            <input type="checkbox"
                                                                                name="filter.v.availability" value="1"
                                                                                class="cust-checkbox">
                                                                            <span class="filter-name">Out of
                                                                                stock</span>
                                                                            <span class="count-check">(1)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="shop-sidebar sidebar-wedget">
                                                            <h6 class="shop-title" data-animate="animate__fadeInUp">
                                                                Brand</h6>
                                                            <a href="#reset" data-bs-toggle="collapse"
                                                                class="shop-title shop-title-lg"
                                                                data-animate="animate__fadeInUp">Brand</a>
                                                            <div class="filter-info" data-animate="animate__fadeInUp">
                                                                <span class="shop-price no-js-hidden">0 selected</span>
                                                                <facet-remove>
                                                                    <a href="collection.html"
                                                                        class="reset-text">Reset</a>
                                                                </facet-remove>
                                                            </div>
                                                            <div class="collapse filter-element" id="reset"
                                                                data-animate="animate__fadeInUp">
                                                                <ul class="brand-ul scrollbar">
                                                                    <li class="brand-li">
                                                                        <label class="cust-checkbox-label">
                                                                            <input type="checkbox" name="cust-checkbox"
                                                                                class="cust-checkbox">
                                                                            <span class="filter-name">Electon</span>
                                                                            <span class="count-check">(23)</span>
                                                                            <span class="cust-check"></span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- filter-form end -->
                                        </div>
                                    </div>
                                    <!-- sidebar img start -->
                                    <div class="sidebar-banner banner-hover">
                                        <a href="collection.html" class="sidebar-img banner-img">
                                            <span class="sidebar-banner-image" data-animate="animate__fadeInUp">
                                                <img src="img/banner/side-banner.jpg" class="img-fluid"
                                                    alt="side-banner">
                                            </span>
                                            <span class="sidebar-banner-icon"><i
                                                    class="bi bi-arrow-right-short"></i></span>
                                        </a>
                                    </div>
                                    <!-- sidebar img start -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- collection end -->
    </main>
    <!-- main section end-->
    <!-- footer start -->
    {{>footer}}
    <!-- footer end -->
    <!-- footer-copyright start -->

    <!-- footer-copyright end -->
    <!-- vega-mobile start -->
    <div class="mobile-vega">
        <div class="vega-menu-area">
            <div class="mobile-vega-menu" id="mobile-vega-menu">
                <div class="vega-close">
                    <button class="vega-close-btn">
                        <span class="vega-close-icon"><svg viewBox="0 0 24 24" width="24" height="24"
                                stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                stroke-linejoin="round" class="css-i6dzq1">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg></span>
                    </button>
                </div>
                <ul class="vega-menu">
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="#mobile-vega-electronics" data-bs-toggle="collapse" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu1.jpg" class="img-fluid" alt="cate-menu1">
                                    <span>Pen drivess</span>
                                </span>
                                <span class="menu-arrow"><i class="feather-plus"></i></span>
                            </a>
                        </div>
                        <div class="menu-dropdown product-menu collapse" id="mobile-vega-electronics">
                            <ul class="ul">
                                <li class="productlink-li">
                                    <div class="productlink-title">
                                        <a href="#vega-sub1" data-bs-toggle="collapse" class="sp-link-title">
                                            <span>Shop page</span>
                                            <span class="menu-arrow"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                    <ul class="productsupmenu-dropdown collapse" id="vega-sub1">
                                        <li class="productsupmenu-li">
                                            <a href="collection-without.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection left</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-right-2.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection right</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-list-without.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-list.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list lef</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="#" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list right</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="productlink-li">
                                    <div class="productlink-title">
                                        <a href="#vega-sub2" data-bs-toggle="collapse" class="sp-link-title">
                                            <span>Product page</span>
                                            <span class="menu-arrow"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                    <ul class="productsupmenu-dropdown collapse" id="vega-sub2">
                                        <li class="productsupmenu-li">
                                            <a href="product-template.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product layout</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template2.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product tab</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template3.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product advanc</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template4.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product advance</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template5.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product accordion</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template6.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product center</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template7.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product side</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="#vega-furniture" data-bs-toggle="collapse" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu2.jpg" class="img-fluid" alt="cate-menu2">
                                    <span>Smart watch</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="#mob-cosmetic" data-bs-toggle="collapse" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu3.jpg" class="img-fluid" alt="cate-menu3">
                                    <span>Verse earphones</span>
                                </span>
                                <span class="menu-arrow"><i class="feather-plus"></i></span>
                            </a>
                        </div>
                        <div class="menu-dropdown product-menu collapse" id="mob-cosmetic">
                            <ul class="ul">
                                <li class="productlink-li">
                                    <div class="productlink-title">
                                        <a href="#productsup-vega1" data-bs-toggle="collapse" class="sp-link-title">
                                            <span>Shop page</span>
                                            <span class="menu-arrow"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                    <ul class="productsupmenu-dropdown collapse" id="productsup-vega1">
                                        <li class="productsupmenu-li">
                                            <a href="collection-without.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection left</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-right-2.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection right</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-list-without.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-list.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list lef</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="#" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list right</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="productlink-li">
                                    <div class="productlink-title">
                                        <a href="#productsup-vega2" data-bs-toggle="collapse" class="sp-link-title">
                                            <span>Product page</span>
                                            <span class="menu-arrow"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                    <ul class="productsupmenu-dropdown collapse" id="productsup-vega2">
                                        <li class="productsupmenu-li">
                                            <a href="product-template.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product layout</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template2.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product tab</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template3.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product advanc</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template4.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product advance</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template5.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product accordion</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template6.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product center</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template7.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product side</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="collection.html" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu4.jpg" class="img-fluid" alt="cate-menu4">
                                    <span>Wifro camera</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="collection.html" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu5.jpg" class="img-fluid" alt="cate-menu5">
                                    <span>Bluetooth earbuds</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="collection.html" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu6.jpg" class="img-fluid" alt="cate-menu6">
                                    <span>Projector leptop</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="collection.html" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu7.jpg" class="img-fluid" alt="cate-menu7">
                                    <span>Wireless mouse</span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- vega-mobile end -->
    <!-- mobile-menu start -->
    {{>mobile}}
    <!-- mobile-menu end -->
    <!-- search-modal start -->
    <div class="modal fade" id="searchmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="crap-search">
                                    <button type="button" class="pop-close" data-bs-dismiss="modal"
                                        aria-label="Close"><i class="feather-x"></i></button>
                                    <form action="https://spacingtech.com/search" method="get" class="search-bar"
                                        role="search">
                                        <div class="form-search">
                                            <input type="hidden" name="type" value="product">
                                            <input type="hidden" name="options[unavailable_products]" value="show">
                                            <input type="hidden" name="options[prefix]" value="last">
                                            <input type="search" name="q" value="" placeholder="Search product..."
                                                class="input-text" aria-label="Search our store" required=""
                                                autocomplete="off">
                                            <button class="search-btn" type="submit"><i
                                                    class="feather-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart-drawer start -->
  
    <!-- cart-drawer end -->
    <!-- quickview modal start -->
    <div class="productmodal">
        <div class="modal fade" id="quickview">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-quickview">Quickview</h6>
                        <button type="button" class="close" data-bs-dismiss="modal"><i
                                class="fa-solid fa-xmark"></i></button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- quickview modal end -->
    <!-- bg-scren start -->
    <div class="bg-screen"></div>
    <!-- bg-scren end -->
    <!-- bottom-menu start -->
    {{>bottom}}
    <!-- bottom-menu end -->
    <!-- jquery js -->
    <script src="js/jquery-3.6.3.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- owl-carousel js -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- swiper-slider js -->
    <script src="js/swiper-bundle.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>
    <!-- counter js -->
    <script src="js/counter.js"></script>
    <!-- main js -->
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const message = "{{ message }}";
        const error = "{{ error }}";

        if (message.trim() !== "") {
            Swal.fire({
                html: `<span style="color: green; font-size: 25px; font-weight: bold;">${message}</span>`
            });
        }
        if (error.trim() !== "") {
            Swal.fire({
                html: `<span style="color: red; font-size: 25px; font-weight: bold;">${error}</span>`
            });
        }
    </script>

    

</body>

<!-- Mirrored from spacingtech.com/html/electon/electon/collection.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 22 Feb 2025 11:10:34 GMT -->

</html>